/.cache
/.github
/.husky
/.wrangler
/.idea
/build
/public
/node_modules
/dist
/app/styles/tailwind.css
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.dev.vars
/.dev.vars.example

pnpm-lock.yaml
*.d.ts
